.container{
    margin-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    
}
.container1{
    background-color: rgb(215, 215, 199);
    height: 30rem;
}
.container2{
     height: 10rem;
     
}

.container3{
    background-color: rgb(215, 215, 199);
    height: 10rem;
}

.container4{
     height: 28rem;
     
}

.cont4{
    height:25rem;
    width: 96%;
}

.container5{
     height: 16rem;
     z-index: 3;
}



.grid{
    display: grid;
    gap: 5rem;
    
}

.grid-two-column{
    grid-template-columns: repeat(2, 1fr);
    padding-left: 3rem;
    text-align: justify;
    
    
}


.grid-three-column{
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.service-icon{
    width : 3rem;
    height : 3rem;
    margin-top: 5px;
    background-color: white;
    border-radius: 20px;
    
}

.icon-together{ 
    background-color: rgb(215, 215, 199);
    border-radius: 12px;
    padding:25px ;
    margin : 15px;

}

.trusted-icons{
    width : 2rem;
    height : 2rem;
}

.grid-five-column{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.hero-title{
    color: rgb(4, 144, 4);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif
}

.image-style{
    width: 400px;
    height: 400px;
    box-shadow: 159px -78px 0px -25px rgba(13, 36, 14, 0.8);
    -webkit-box-shadow: 159px -78px 0px -25px rgba(15,179,22,0.8);
    -moz-box-shadow: 159px -78px 0px -25px rgba(15,179,22,0.8);
}

.btn2 {
        
        padding: 7px 22px;
        margin: 20px;
        background-color: black;
        color: whitesmoke;
        /* border: thistle solid 1px; */
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    
    }

 
